PORT=3001

#DATABASECONFIG
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_HOST=

#MAILERCONFIG
MAILER_HOST=smtp.gmail.com
MAILER_PORT=465
MAILER_SECURE=true
MAILER_USER=
MAILER_PASS=

#WINSTONCONFIG
LOGGER_FORMAT=YYYY-MM-DD hh:mm:ss.SSS A
LOGGER_APP_NAME=NEST_BOILERPLATE

#LOGGERCONFIG
LOG_FOLDER=LOG
LOGGER_FILENAME_INFO=APP_INFO-%DATE%.json
LOGGER_FILENAME_WARN=APP_WARN-%DATE%.json
LOGGER_FILENAME_ERROR=APP_ERROR-%DATE%.json
LOGGER_DATE_PATTERN=YYYY-MM-DD
LOGGER_ZIPPED_ARCHIVE=true
LOGGER_WATCH_LOG=true
LOGGER_MAX_SIZE=14d
LOGGER_MAX_FILES=20m

#LOGSTASHCONFIG
LOGSTASH_PORT=50000
LOGSTASH_ENABLE=false
LOGSTASH_NODE_NAME=BOILERPLATE-NESTJS-APIREST
LOGSTASH_HOST=host.docker.internal
LOGSTASH_MAX_CONNECT_RETRIES=0